input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
  
}
input[type=number]{
    width: 55px;
}
.lbl-cls 
{
    margin: 0 10px;
}
.btn-position
{
    position: absolute;
    bottom: 0px;
}